.coiote {
    width: 60px;
    height: 60px;
    background: rgb(99, 14, 14);
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.papaleguas {
    width: 60px;
    height: 60px;
    background: blue;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 10px;
    background: red;
    overflow: hidden;
}